<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>{{ centre_code }}</title>
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='heading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='all.min.css') }}">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="height:25px">
        <div class="container" style="height:100%">
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Table Section-->
    <section class="page-section" id="table">
        <div class="container">
            <!-- Table Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Details</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Table-->
            <div class="row">
                <table id="example" class="ui celled table" style="width:100%;"></table>
            </div>

            <div class="row">
                <button class="btn btn-primary" style="margin:auto;display:block;"
                        type="submit" id="submit-data-button" value="submit-data">Submit</button>
            </div>
        </div>
    </section>


    <script src="{{ url_for('static', filename='datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datetime-moment.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dataTables.semanticui.min') }}"></script>
    <script src="{{ url_for('static', filename='all.min.js') }}"></script>
    <script type="text/javascript">
      let jsonResult = {{ result|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>